body{
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.chart{
  height:400px;

}

.half-chart{
  height:400px;
  width:45%;
}
#gender-description{
  /* border: 1px black solid; */
  display: flex;
  align-items: center;
}
.row{
  margin:50px;
}
p{
  margin:30px;
}
h1, h4{
  font-size: 30px;
  margin: 80px;
  margin-left: 28%;
  margin-right: 25%;
  text-align: left;
}
h4{
  font-size: 25px;
  margin-top:0;
}
.logo{
  position: absolute;
  left: 40%;

}
.leftPic{
  position: absolute;
  left: 20%;
}
.container-chart1{
 
    width: 600px;

    margin: 0px auto;
    overflow: hidden;
}
.text-container{
  margin: 80px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
}
.pic-container{
  margin: 80px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

