body{
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.chart{
  height:400px;

}

.half-chart{
  height:400px;
  width:45%;
}
#gender-description{
  /* border: 1px black solid; */
  display: flex;
  align-items: center;
}
.row{
  margin:50px;
}
p{
  margin:30px;
}
h1{
  font-size: 30px;
  margin: 80px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}
.logo{
  text-align: center;
  margin-top: 25px;
}

